body {
	font-family: 'Arial';
	margin: 20;
	padding: 20;
	height: 90%;
	width: 90%;
}
a {
	color: #0059b2;
	text-decoration: none;
}

.flash{
	padding: 10;
}
.flash.succes{
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error{
	border: 1px solid #FF4343;
	background: #FF9C9C;
}