{% extends "base.html" %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
{{ form.hidden_tag() }}
{{ form.email.label() }} 

{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
         {{ field.label() }} 
         {% if field.errors %}
                   {{ field(class="invalid") }}
         <span class="invalid-feedback">
                   {% for e in field.errors %}
                   {{ e }}
                   {% endfor %}
         </span>
         {% else %}
                   {{ field() }}
         {% endif %}
{% endfor %}

<br/>
{{ form.remember.label() }} {{ form.remember() }}
{{ form.submit() }}
<hr align=left width="300px">
<a href="{{url_for('register')}}">Регистрация</a>
</form>
{% endblock %}